.keyboard{
    top:0;
    left:0;
    bottom:0;
    right:0;
    margin:auto;
    position:absolute;
    display:block;
/*     width:422px; */
/*     width:210px; */
    height:130px;
    background-color:red;
    border-style:solid;
    border-width:10px;
}

.disp{
    opacity:0.1;
}

.visual{
    opacity:0.9;
}

body{
    background-color:grey;
}